@font-face {
  font-family: "Outfit";
  src: local("Outfit SemiBold"), local("Outfit-SemiBold"), url("../fonts/Outfit-SemiBold.woff2") format("woff2"), url("../fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Medium"), local("Outfit-Medium"), url("../fonts/Outfit-Medium.woff2") format("woff2"), url("../fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Bold"), local("Outfit-Bold"), url("../fonts/Outfit-Bold.woff2") format("woff2"), url("../fonts/Outfit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Black"), local("Outfit-Black"), url("../fonts/Outfit-Black.woff2") format("woff2"), url("../fonts/Outfit-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Light"), local("Outfit-Light"), url("../fonts/Outfit-Light.woff2") format("woff2"), url("../fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Regular"), local("Outfit-Regular"), url("../fonts/Outfit-Regular.woff2") format("woff2"), url("../fonts/Outfit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Thin"), local("Outfit-Thin"), url("../fonts/Outfit-Thin.woff2") format("woff2"), url("../fonts/Outfit-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archive";
  src: local("Archive Regular"), local("Archive"), url("../fonts/Archive.woff2") format("woff2"), url("../fonts/Archive.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit ExtraLight"), local("Outfit-ExtraLight"), url("../fonts/Outfit-ExtraLight.woff2") format("woff2"), url("../fonts/Outfit-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit ExtraBold"), local("Outfit-ExtraBold"), url("../fonts/Outfit-ExtraBold.woff2") format("woff2"), url("../fonts/Outfit-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  color: #fff;
  width: 100%;
  opacity: 1;
  color: white;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px "Outfit", sans-serif;
  color: #ffffff;
  background: #090c10;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  border-radius: 40px;
  cursor: pointer;
}

.btn-gradient {
  z-index: 3;
  position: relative;
  transition: 300ms;
  background: linear-gradient(134.16deg, #255fb7 31.48%, #003d98 52.53%, #002d72 75.89%);
}

.btn-gradient:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 40px;
  transition: 300ms;
  z-index: -1;
}

.btn-gradient:hover:before {
  background: #032454;
  box-shadow: 4px 4px 10px rgba(0, 87, 255, 0.2);
}

.title {
  font-family: "Archive";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.title span {
  color: #003d98;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 28px;
  }
}

.btn-transparent {
  border: 1px solid #003d98;
  box-sizing: border-box;
  border-radius: 40px;
  color: #003d98;
}

.btn-transparent:hover {
  background: #032454;
  box-shadow: 4px 4px 10px rgba(0, 87, 255, 0.2);
  color: #ffffff;
}

.btn-platinum {
  font-weight: 700;
  font-size: 14px;
  color: #090c10;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.btn-platinum:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: url(../images/btn-platinum.png) no-repeat;
  background-size: cover;
}

.btn-platinum:hover {
  transform: translateY(-2px);
}

.btn-platinum:active {
  transform: translateY(-1px);
}

.paggination-cart__inner {
  display: flex;
  justify-content: center;
}

.paggination-cart__inner > div {
  width: 30px;
  height: 30px;
  background: #222428;
  border-radius: 50%;
  font-weight: 800;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.paggination-cart__inner > div path {
  fill: #090c10;
}

.paggination-cart__prew {
  margin-right: 20px;
}

.paggination-cart__list {
  display: flex;
}

.paggination-cart__link {
  width: 30px;
  height: 30px;
  background: #222428;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: 800;
  font-size: 14px;
  color: #919193;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  cursor: pointer;
}

.paggination-cart__link:hover {
  background: #003d98;
  color: #fff;
}

.paggination-cart__link:active {
  background: #255fb6;
  color: #fff;
}

.paggination-cart__link:last-child {
  margin-right: 0;
}

.paggination-cart__next {
  margin-left: 20px;
}

.social li {
  width: 34px;
  height: 34px;
  background: #003d98;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social li:first-child svg {
  position: relative;
  left: -2px;
}

.social li svg {
  display: flex;
  align-items: start;
}

.social li path {
  fill: #000;
}

.social li:hover {
  background: #072d66;
}

.token {
  background: #101317;
  border-radius: 15px;
  font-weight: 300;
  font-size: 12px;
}

.token span {
  display: block;
  font-weight: 800;
  font-size: 18px;
  color: #255fb6;
}

@media screen and (max-width: 991px) {
  .pc {
    display: none;
  }
}

.mobi {
  display: none;
}

@media screen and (max-width: 991px) {
  .mobi {
    display: flex;
  }
}

.prblock {
  background: #1a1f24;
  border-radius: 10px;
  padding: 19px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading__image {
  flex-shrink: 0;
}

.loading__image img {
  display: flex;
  align-items: start;
}

.loading__title {
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 50px;
}

.loading__load {
  -webkit-animation: load-rotate 2s infinite linear;
  animation: load-rotate 2s infinite linear;
}

.loading__load img {
  display: flex;
  align-self: start;
}

@-webkit-keyframes load-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .loading {
  transition: 1500ms opacity;
  opacity: 0;
}

.loaded .loading {
  display: none;
}

.mistake {
  position: relative;
}

.mistake__bg-top {
  position: absolute;
  top: -110px;
  left: 0;
  z-index: -1;
}

.mistake__bg-bottom {
  position: absolute;
  bottom: -160px;
  right: 0;
  z-index: -1;
}

.mistake__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 54px 0 140px;
  width: 100%;
}

.mistake__inner img {
  display: flex;
  align-self: start;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .mistake__inner {
    padding: 54px 0 40px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #090c10;
  z-index: 10;
  padding: 15px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 75px;
  width: 197px;
}

.header__logo img {
  display: flex;
  align-items: start;
}

@media screen and (max-width: 1300px) {
  .header__logo {
    margin-right: 27px;
    width: 161px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 131px;
  }
}

.header__nav {
  font-weight: 500;
  font-size: 18px;
}

.header__nav-pc .header__list li {
  margin-right: 16px;
}

.header__nav-pc .header__list li:last-child {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header__nav-pc {
    display: none;
  }
}

.header__list {
  display: flex;
}

.header__list li {
  width: 80px;
  position: relative;
  text-align: center;
  transition: 300ms;
}

.header__list li:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background: transparent;
  border-radius: 30px;
  position: absolute;
  left: -50%;
  transform: translateX(50%);
  bottom: -22px;
  transition: 300ms;
}

.header__list li:hover a {
  color: #255fb6;
}

.header__list li:hover:before {
  background: #003d98;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__network {
  font-size: 14px;
  margin-right: 37px;
}

.header__network span {
  color: #255fb6;
  margin-left: 20px;
  position: relative;
}

.header__network span:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #003d98;
  box-shadow: 4px 4px 10px rgba(0, 87, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  left: -13px;
  top: 6px;
}

@media screen and (max-width: 991px) {
  .header__network {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__network {
    display: block;
  }
}

.header__buttons {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__buttons {
    display: none;
  }
}

.header__button {
  width: 138px;
  height: 43px;
  margin-right: 21px;
}

@media screen and (max-width: 1260px) {
  .header__button {
    width: 117px;
    margin-right: 18px;
  }
}

.header__language {
  position: relative;
}

.header__language .lang {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 13px;
  background: #111317;
  border-radius: 40px;
  width: 128px;
  height: 45px;
  cursor: pointer;
}

.header__language .lang img {
  display: flex;
  align-items: start;
}

@media screen and (max-width: 1260px) {
  .header__language .lang {
    width: 115px;
  }
}

.header__language-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
}

.header__language-dropdown.active {
  opacity: 1;
  visibility: visible;
}

.header__burger {
  display: none;
  padding: 12px 0;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.header__burger span {
  display: block;
  width: 40px;
  height: 5px;
  background: linear-gradient(134.16deg, #255fb7 31.48%, #003d98 52.53%, #002d72 75.89%);
  border-radius: 5px;
  position: relative;
}

.header__burger span:before, .header__burger span::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 5px;
  background: linear-gradient(134.16deg, #255fb7 31.48%, #003d98 52.53%, #002d72 75.89%);
  border-radius: 5px;
  position: absolute;
  left: 0px;
}

.header__burger span:before {
  top: 12px;
}

.header__burger span::after {
  top: -12px;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: flex;
  }
}

.header__mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .header__mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #101317;
    min-height: 100vh;
    padding-top: 27px;
    width: 66%;
    display: none;
    transition: 300ms;
    z-index: 2;
  }
  .header__mobile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__mobile.active {
    display: block;
    transition: 300ms;
  }
}

.header__mobile .header__button {
  margin: 0 0 48px 0;
  width: 143px;
}

.header__mobile .header__list {
  display: flex;
  flex-direction: column;
}

.header__mobile .header__list li {
  margin-bottom: 67px;
}

.header__mobile .header__list li:last-child {
  margin: 0;
}

.header__mobile .header__list .header__button {
  display: flex;
}

.header__mobile .header__language-mobi {
  position: relative;
  top: -20px;
  left: 12px;
}

.header__mobile .header__language-mobi .lang {
  background: #1a212b;
  width: 128px;
}

.main {
  position: relative;
}

.main__bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -50px;
}

@media screen and (max-width: 1300px) {
  .main__bg {
    right: -259px;
    top: -100px;
  }
}

@media screen and (max-width: 991px) {
  .main__bg {
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .main__bg {
    width: 100%;
    height: 400px;
  }
  .main__bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.main__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

@media screen and (max-width: 1300px) {
  .main__inner {
    padding-top: 80px;
  }
}

@media screen and (max-width: 991px) {
  .main__inner {
    flex-direction: column-reverse;
    padding-top: 20px;
  }
}

.main__title {
  max-width: 544px;
  margin-bottom: 40px;
}

@media screen and (max-width: 991px) {
  .main__title {
    margin-bottom: 30px;
  }
}

.main__text {
  margin-bottom: 56px;
}

@media screen and (max-width: 1300px) {
  .main__text {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 991px) {
  .main__text {
    margin-bottom: 35px;
  }
}

.main__buttons {
  display: flex;
  position: relative;
  z-index: 3;
}

.main__button {
  width: 242px;
  height: 55px;
  margin-right: 46px;
}

.main__button:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1300px) {
  .main__button {
    width: 200px;
    margin-right: 20px;
  }
  .main__button:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .main__button.btn-transparent {
    width: 158px;
  }
}

.main__image {
  position: relative;
  top: -60px;
  right: 40px;
}

@media screen and (max-width: 1300px) {
  .main__image {
    width: 457px;
    height: 355px;
    top: -25px;
    right: 10px;
  }
}

@media screen and (max-width: 991px) {
  .main__image {
    margin: 0 auto;
    top: 0;
    right: 0;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 767px) {
  .main__image {
    width: 327px;
    height: 253px;
  }
}

.advantages {
  position: relative;
}

.advantages__bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.advantages__inner {
  padding-top: 60px;
  position: relative;
  z-index: 2;
}

.advantages__title {
  margin-bottom: 80px;
}

@media screen and (max-width: 991px) {
  .advantages__title {
    margin-bottom: 60px;
  }
}

.advantages__item {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 991px) {
  .advantages__item {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
}

.advantages__cart:first-child img {
  position: relative;
  right: -35px;
  top: -20px;
}

.advantages__cart:nth-child(2) img {
  position: relative;
  right: -5px;
  top: -50px;
}

.advantages__cart:last-child img {
  position: relative;
  right: -20px;
  top: -45px;
}

.advantages__images {
  position: relative;
  height: 220px;
}

.advantages__images:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 182px;
  height: 182px;
  border-radius: 50%;
  background: linear-gradient(157.53deg, rgba(0, 61, 152, 0.55) 11.63%, rgba(0, 61, 152, 0) 85.37%);
}

@media screen and (max-width: 991px) {
  .advantages__images {
    width: 230px;
    margin: 0 auto;
  }
}

.advantages__description {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 47px;
}

@media screen and (max-width: 991px) {
  .advantages__description {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 26px;
  }
}

.advantages__text {
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .advantages__text {
    font-weight: 400;
    font-size: 14px;
  }
}

.questions {
  position: relative;
}

.questions__bg {
  position: absolute;
  right: 0;
  top: -100px;
  z-index: -1;
}

.questions__inner {
  padding-top: 180px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .questions__inner {
    padding-top: 60px;
  }
}

.questions__title {
  margin-bottom: 60px;
}

@media screen and (max-width: 991px) {
  .questions__title {
    margin-bottom: 32px;
  }
}

.questions__body {
  background: #101317;
  border-radius: 15px;
  margin-bottom: 20px;
}

.questions__body:last-child {
  margin-bottom: 0;
}

.questions__header {
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .questions__header {
    padding: 26px;
  }
}

.questions__header-contain {
  display: flex;
  align-items: center;
}

.questions__num {
  font-family: "Archive";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #003d98;
  margin-right: 50px;
}

@media screen and (max-width: 991px) {
  .questions__num {
    margin-right: 25px;
  }
}

.questions__description {
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .questions__description {
    font-size: 18px;
  }
}

.questions__arrow img {
  display: flex;
  align-items: start;
}

.questions__text {
  font-weight: 400;
  font-size: 16px;
  padding: 0px 40px 40px 40px;
  display: none;
}

.questions__text.active {
  display: block;
}

@media screen and (max-width: 991px) {
  .questions__text {
    padding: 0 26px 26px 26px;
    font-size: 14px;
  }
}

.contact {
  position: relative;
}

.contact__bg {
  position: absolute;
  left: 0;
  top: -170px;
  z-index: -1;
}

@media screen and (max-width: 1300px) {
  .contact__bg {
    left: -100px;
  }
}

.contact__inner {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .contact__inner {
    flex-direction: column;
  }
}

.contact__item {
  padding-top: 135px;
}

@media screen and (max-width: 1300px) {
  .contact__item {
    padding-top: 100px;
  }
}

@media screen and (max-width: 991px) {
  .contact__item {
    padding-top: 72px;
  }
}

.contact__title {
  margin-bottom: 62px;
}

@media screen and (max-width: 1300px) {
  .contact__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 991px) {
  .contact__title {
    margin-bottom: 33px;
  }
}

.contact__text {
  margin-bottom: 82px;
}

@media screen and (max-width: 1300px) {
  .contact__text {
    margin-bottom: 36px;
  }
}

.contact__button {
  width: 212px;
  height: 55px;
}

@media screen and (max-width: 991px) {
  .contact__button-pc {
    display: none;
  }
}

.contact__button-mobi {
  display: none;
}

@media screen and (max-width: 991px) {
  .contact__button-mobi {
    display: flex;
    margin: 0 auto;
    margin-bottom: 115px;
  }
}

.contact__image {
  position: relative;
  top: -40px;
}

.contact__image:before {
  content: "";
  display: inline-block;
  width: 330px;
  height: 330px;
  position: absolute;
  background: linear-gradient(157.53deg, rgba(0, 61, 152, 0.55) 11.63%, rgba(0, 61, 152, 0) 85.37%);
  border-radius: 50%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1300px) {
  .contact__image {
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .contact__image {
    width: 100%;
  }
  .contact__image:before {
    width: 150px;
    height: 150px;
  }
}

.footer {
  background: #101317;
}

.footer__inner {
  padding: 42px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__inner {
    flex-direction: column;
    padding: 21px 0;
  }
}

.footer__logo {
  flex-shrink: 0;
  width: 158px;
}

.footer__logo img {
  display: flex;
  align-items: start;
  margin-bottom: 17px;
}

.footer__text {
  font-weight: 500;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .footer__text-pc {
    display: none;
  }
}

.footer__menu {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.footer__link {
  margin-right: 58px;
  display: flex;
}

.footer__link li {
  position: relative;
  text-align: center;
  transition: 300ms;
  margin-right: 40px;
}

.footer__link li:last-child {
  margin: 0;
}

.footer__link li:hover a {
  color: #255fb6;
}

.footer__link li:hover:before {
  background: #003d98;
}

@media screen and (max-width: 767px) {
  .footer__link {
    width: 100%;
    justify-content: space-between;
    margin: 0 0 25px 0;
  }
}

.footer__contain {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer__contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__media {
  display: flex;
}

.footer__media li {
  margin-right: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0a2e64;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  background: #003d98;
}

.footer__media li:first-child svg {
  position: relative;
  left: -3px;
}

.footer__media li:hover {
  background: #0a2e64;
}

.footer__media li:last-child {
  margin: 0;
}

.footer__media li svg {
  width: 25px;
  display: flex;
  align-self: start;
}

@media screen and (max-width: 767px) {
  .footer__media-pc {
    display: none;
  }
}

.footer__media-mobi {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer__media-mobi {
    display: flex;
  }
  .footer__media-mobi li {
    width: 29px;
    height: 29px;
  }
  .footer__media-mobi li svg {
    width: 18px;
  }
}

.footer__text-mobi {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer__text-mobi {
    display: block;
  }
}

.projects-cart {
  position: relative;
}

.projects-cart__bg-top {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 1300px) {
  .projects-cart__bg-top {
    left: auto;
    right: -250px;
    top: -100px;
  }
}

.projects-cart__bg-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 1300px) {
  .projects-cart__bg-bottom {
    bottom: -240px;
  }
}

.projects-cart__inner {
  padding-top: 66px;
}

@media screen and (max-width: 991px) {
  .projects-cart__inner {
    padding-top: 40px;
  }
}

.projects-cart__title-contain {
  margin-bottom: 66px;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .projects-cart__title-contain {
    flex-direction: column;
    align-items: start;
    margin-bottom: 58px;
  }
}

@media screen and (max-width: 991px) {
  .projects-cart__title-contain .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .projects-cart__title-contain {
    margin-bottom: 50px;
  }
}

.projects-cart__warning {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  color: #255fb6;
  margin-left: 30px;
  position: relative;
}

.projects-cart__warning::after {
  content: "!";
  color: #000;
  display: inline-block;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: -29px;
  top: 0px;
  background: linear-gradient(134.16deg, #255fb7 31.48%, #003d98 52.53%, #002d72 75.89%);
}

@media screen and (max-width: 1300px) {
  .projects-cart__warning {
    margin-top: 25px;
  }
}

@media screen and (max-width: 991px) {
  .projects-cart__warning {
    margin-top: 16px;
    margin: 16px 0 0 0px;
    padding-left: 20px;
  }
  .projects-cart__warning::after {
    left: 0px;
  }
}

.projects-cart__items {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 76px;
}

@media screen and (max-width: 1300px) {
  .projects-cart__items {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 991px) {
  .projects-cart__items {
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.projects-cart__cart {
  background: #101317;
  border-radius: 15px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1300px) {
  .projects-cart__cart {
    padding-bottom: 30px;
  }
}

.projects-cart__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

@media screen and (max-width: 1300px) {
  .projects-cart__head {
    margin-bottom: 9px;
  }
}

.projects-cart__images img {
  display: flex;
  align-self: start;
}

@media screen and (max-width: 1300px) {
  .projects-cart__images {
    width: 221px;
    height: 185px;
  }
}

.projects-cart__social {
  margin: 40px 34px 0 0;
}

.projects-cart__social li {
  margin-bottom: 5px;
  width: 34px;
  height: 34px;
  background: #003d98;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-cart__social li:last-child {
  margin: 0;
}

.projects-cart__social li svg {
  display: flex;
  align-items: start;
}

.projects-cart__social li path {
  fill: #000;
}

.projects-cart__social li:hover {
  background: #072d66;
}

@media screen and (max-width: 1300px) {
  .projects-cart__social li {
    width: 27px;
    height: 27px;
  }
  .projects-cart__social li svg {
    width: 18px;
  }
}

@media screen and (max-width: 1300px) {
  .projects-cart__social li {
    width: 34px;
    height: 34px;
  }
  .projects-cart__social li svg {
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  .projects-cart__social {
    margin: 20px 20px 0 0;
  }
}

@media screen and (max-width: 991px) {
  .projects-cart__social {
    margin: 27px 20px 0 0;
  }
}

.projects-cart__centr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 44px 0 27px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1300px) {
  .projects-cart__centr {
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 991px) {
  .projects-cart__centr {
    margin-bottom: 29px;
  }
}

.projects-cart__name {
  font-weight: 600;
  font-size: 24px;
}

.projects-cart__buttons {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 36px;
}

.projects-cart__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 33px;
}

.projects-cart__price > div {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.05);
  padding: 16px 27px;
  display: flex;
  flex-direction: column;
}

.projects-cart__price > div span {
  font-weight: 800;
  font-size: 18px;
  color: #255fb6;
  margin-top: 4px;
}

@media screen and (max-width: 1300px) {
  .projects-cart__price > div {
    height: 80px;
  }
}

.projects-cart__token {
  border-radius: 0 15px 15px 0;
  margin-right: 9px;
}

.projects-cart__goal {
  border-radius: 15px 0 0 15px;
}

.projects-cart__button {
  margin: 0 27px;
  height: 55px;
}

.projects-cart__button span {
  display: none;
}

@media screen and (max-width: 991px) {
  .projects-cart__button {
    margin: 0 17px;
  }
}

.projects-cart__paggination {
  margin-bottom: 100px;
}

@media screen and (max-width: 1300px) {
  .projects-cart__paggination {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  .projects-cart__paggination {
    display: none;
  }
}

.projects-cart__but {
  display: none;
}

@media screen and (max-width: 991px) {
  .projects-cart__but {
    display: flex;
    height: 55px;
    margin-bottom: 69px;
  }
}

.listing {
  position: relative;
}

.listing__bg-top {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 1300px) {
  .listing__bg-top {
    left: auto;
    right: 0;
    top: -200px;
  }
}

.listing__bg-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 1300px) {
  .listing__bg-bottom {
    right: auto;
    left: 0;
    bottom: -150px;
  }
}

@media screen and (max-width: 991px) {
  .listing__bg-bottom {
    bottom: -110px;
    left: auto;
    right: 0;
  }
}

.listing__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 165px;
}

@media screen and (max-width: 1300px) {
  .listing__inner {
    padding-top: 70px;
  }
}

@media screen and (max-width: 991px) {
  .listing__inner {
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 60px;
  }
}

.listing__text-pc p {
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 1300px) {
  .listing__text-pc p {
    max-width: 531px;
  }
}

@media screen and (max-width: 991px) {
  .listing__text-pc {
    display: none;
  }
}

.listing__description {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 29px;
}

@media screen and (max-width: 1300px) {
  .listing__description {
    margin-bottom: 22px;
  }
}

.listing__text-mobi {
  display: none;
}

@media screen and (max-width: 991px) {
  .listing__text-mobi {
    display: block;
  }
  .listing__text-mobi .listing__description {
    margin-bottom: 27px;
    font-weight: 600;
    font-size: 24px;
  }
}

.pandeco {
  width: 57.4%;
  margin-right: 30px;
}

@media screen and (max-width: 1300px) {
  .pandeco {
    margin-right: 25px;
  }
}

@media screen and (max-width: 991px) {
  .pandeco {
    width: 100%;
  }
}

.pandeco__block {
  display: flex;
}

@media screen and (max-width: 991px) {
  .pandeco__block {
    flex-direction: column;
  }
}

.pandeco__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}

.pandeco__title-mobi {
  display: none;
}

@media screen and (max-width: 991px) {
  .pandeco__title-mobi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.pandeco__social {
  display: flex;
}

.pandeco__social li {
  margin-right: 7px;
}

.pandeco__social li:last-child {
  margin: 0;
}

.pandeco__image {
  width: 288px;
  margin-right: 30px;
  flex-shrink: 0;
  flex-grow: 10;
}

.pandeco__image img {
  display: flex;
  align-items: start;
}

@media screen and (max-width: 1300px) {
  .pandeco__image {
    margin-right: 14px;
    width: 200px;
  }
}

@media screen and (max-width: 991px) {
  .pandeco__image {
    width: 312px;
    margin: 0 auto 25px;
  }
  .pandeco__image img {
    width: 100%;
  }
}

.pandeco__container {
  margin-top: 15px;
  width: 393px;
}

@media screen and (max-width: 1300px) {
  .pandeco__container {
    margin-top: 0;
    width: 290px;
  }
}

@media screen and (max-width: 991px) {
  .pandeco__container {
    width: 100%;
  }
}

.pandeco__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 1300px) {
  .pandeco__head {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991px) {
  .pandeco__head {
    display: none;
  }
}

.pandeco__title-pc ul {
  margin-top: 18px;
}

.pandeco__btn-platinum {
  width: 121px;
  height: 46px;
  margin-bottom: 18px;
}

.pandeco__btn-bep {
  width: 120px;
  height: 38px;
  background: #101317;
  border-radius: 10px;
  padding: 0 16px 0 12px;
  justify-content: space-between;
  transition: 300ms;
}

.pandeco__btn-bep:hover {
  background: #2a2f35;
}

.pandeco__centr {
  display: flex;
  justify-content: space-between;
  max-width: 393px;
  margin-bottom: 19px;
}

@media screen and (max-width: 1300px) {
  .pandeco__centr {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 991px) {
  .pandeco__centr {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.pandeco__token {
  width: 100%;
  padding: 16px 23px;
  margin-right: 17px;
}

.pandeco__token span {
  margin-top: 5px;
}

.pandeco__token:last-child {
  margin: 0;
}

@media screen and (max-width: 1300px) {
  .pandeco__token {
    width: 141px;
    height: 75px;
    padding: 16px 2px 16px 18px;
  }
}

@media screen and (max-width: 991px) {
  .pandeco__token {
    width: 100%;
  }
}

.pandeco__token-big {
  padding: 22px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .pandeco__token-big {
    margin-bottom: 20px;
  }
}

.pandeco__buttons-mobi {
  display: none;
}

.pandeco__contract {
  padding: 24px 24px 24px 33px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

.pandeco__contract p {
  flex-grow: 10;
}

.pandeco__contract > div {
  margin-right: 24px;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
}

@media screen and (max-width: 1300px) {
  .pandeco__contract > div.pc {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .pandeco__contract > div.mobi {
    display: flex;
  }
}

@media screen and (max-width: 1300px) {
  .pandeco__contract {
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 991px) {
  .pandeco__contract {
    padding: 23px;
    font-size: 16px;
  }
  .pandeco__contract span {
    font-size: 16px;
  }
}

.pandeco__collection {
  padding: 13px 24px 40px 33px;
  margin-bottom: 25px;
}

.pandeco__collection-contain {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pandeco__collection-contain:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 9px;
  background: #1a1f24;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  bottom: -20px;
}

.pandeco__collection-contain::after {
  content: "";
  display: inline-block;
  width: 289px;
  height: 9px;
  background: #003d98;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  bottom: -20px;
}

@media screen and (max-width: 991px) {
  .pandeco__collection-contain::after {
    width: 104px;
  }
}

@media screen and (max-width: 1300px) {
  .pandeco__collection {
    margin-bottom: 20px;
  }
}

.send {
  width: 42%;
}

@media screen and (max-width: 1300px) {
  .send {
    width: 40%;
  }
}

@media screen and (max-width: 991px) {
  .send {
    width: 100%;
    margin-bottom: 10px;
  }
}

.send__inner {
  background: #101317;
  border-radius: 15px;
  padding-bottom: 35px;
}

.send__inner > .send__title {
  margin: 0 0 30px 30px;
}

.send__head {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  padding: 31px 30px 33px;
}

.send__head span {
  font-weight: 700;
  font-size: 18px;
  color: #255fb6;
  margin-left: 18px;
}

.send__title {
  font-weight: 600;
  font-size: 24px;
  flex-grow: 10;
}

.send__items {
  display: flex;
  margin-bottom: 21px;
}

.send__field {
  padding: 0 40px 0 30px;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 10px 10px 0;
  background: #1a1f24;
  color: #8c8f91;
  flex-grow: 10;
  margin-right: 21px;
  font-weight: 400;
  font-size: 24px;
}

.send__field span {
  color: #003d98;
  font-weight: 400;
  font-size: 18px;
  margin-left: 27px;
}

@media screen and (max-width: 1300px) {
  .send__field {
    margin-right: 15px;
    padding: 0 20px 0 30px;
  }
}

@media screen and (max-width: 991px) {
  .send__field {
    height: 73px;
  }
}

.send__downoload {
  position: relative;
  background: #003d98;
  width: 201px;
  height: 89px;
  display: flex;
  align-items: center;
  padding: 0 23px;
  width: 201px;
  height: 89px;
  border-radius: 10px 0 0 10px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.send__downoload-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.send__downoload-item img {
  margin-right: 19px;
  display: flex;
  align-items: start;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 1300px) {
  .send__downoload {
    width: 167px;
    height: 89px;
  }
}

@media screen and (max-width: 991px) {
  .send__downoload {
    width: 177px;
    height: 73px;
  }
}

.send__downoload-button {
  display: flex;
  align-items: center;
  background: #003d98;
  width: 201px;
}

.send__downoload-button span {
  margin-right: 16px;
}

.send__downoload-button img {
  margin-right: 19px;
}

.send__downoload-button img:last-child {
  margin: 0;
}

.send__downoload-dropdown {
  position: absolute;
  padding: 0px 23px;
  left: 0;
  top: 75px;
  right: 0;
  background: #003d98;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
}

.send__downoload-dropdown.active {
  opacity: 1;
  visibility: visible;
  border-radius: 0 0 0 10px;
  padding-bottom: 15px;
}

.send__but {
  display: flex;
  align-items: center;
  padding: 0 23px;
  background: #1a1f24;
  width: 201px;
  height: 89px;
  border-radius: 10px 0 0 10px;
}

.send__but img {
  margin-right: 17px;
}

@media screen and (max-width: 991px) {
  .send__but {
    width: 177px;
    height: 73px;
  }
}

.send__info {
  font-weight: 300;
  font-size: 12px;
  color: #255fb6;
  margin: 0 0 36px 28px;
}

@media screen and (max-width: 991px) {
  .send__info {
    margin: 0 0 30px 28px;
  }
}

.send__button {
  width: 255px;
  height: 55px;
  margin: 0 auto;
}

.owner__item {
  background: #101317;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}

.owner__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.owner__num {
  font-weight: 700;
  font-size: 36px;
  color: #255fb6;
}

@media screen and (max-width: 991px) {
  .owner__num {
    font-weight: 400;
    font-size: 24px;
  }
}

.owner__num span {
  font-weight: 400;
  font-size: 18px;
  color: #87898b;
  margin-left: 10px;
}

.owner__image img {
  display: flex;
  align-self: start;
  flex-shrink: 0;
}

.owner__button {
  width: 209px;
  height: 55px;
  margin: 78px auto 0;
}

@media screen and (max-width: 991px) {
  .owner__button {
    margin: 50px auto 30px;
  }
}

.owner__buttons {
  display: flex;
  display: none;
}

.owner__but {
  width: 209px;
  height: 55px;
  margin-right: 20px;
}

.owner__but:last-child {
  margin: 0;
}

.listing-cript {
  position: relative;
}

.listing-cript__bg-top {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.listing-cript__bg-bot {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.listing-cript__inner {
  padding-top: 66px;
}

@media screen and (max-width: 1300px) {
  .listing-cript__inner {
    padding-top: 60px;
  }
}

@media screen and (max-width: 991px) {
  .listing-cript__inner {
    padding-top: 50px;
  }
}

.listing-cript__title {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 32px;
}

.listing-cript__text {
  margin-bottom: 87px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 1300px) {
  .listing-cript__text {
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 991px) {
  .listing-cript__text {
    margin-bottom: 36px;
  }
}

.listing-cript__button {
  width: 260px;
  height: 55px;
  margin: 0 auto 73px;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .listing-cript__button {
    margin: 0 auto 55px;
  }
}

.contact-details {
  margin-bottom: 35px;
}

.contact-details__inner {
  background: #101317;
  border-radius: 15px;
  padding: 37px 54px 53px 45px;
}

.contact-details__title {
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-details__title span {
  font-weight: 400;
  font-size: 12px;
  color: #255fb6;
}

@media screen and (max-width: 991px) {
  .contact-details__title {
    font-size: 20px;
  }
  .contact-details__title span {
    display: none;
  }
}

.contact-details__form {
  display: flex;
  justify-content: space-between;
}

.contact-details__form input.prblock {
  margin-right: 11px;
}

.contact-details__form input.prblock:last-child {
  margin: 0;
}

.contact-details__form input.prblock:first-child {
  background: rgba(255, 0, 46, 0.15);
}

@media screen and (max-width: 991px) {
  .contact-details__form {
    flex-direction: column;
  }
  .contact-details__form input {
    margin: 0 0 25px 0;
  }
  .contact-details__form input:last-child {
    margin: 0;
  }
}

.project-detalis {
  margin-bottom: 35px;
}

@media screen and (max-width: 991px) {
  .project-detalis {
    margin-bottom: 45px;
  }
}

.project-detalis__inner {
  background: #101317;
  border-radius: 15px;
  padding: 37px 54px 53px 45px;
}

@media screen and (max-width: 991px) {
  .project-detalis__inner {
    padding: 30px;
  }
}

.project-detalis__title {
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-detalis__title span {
  font-weight: 400;
  font-size: 12px;
  color: #255fb6;
}

@media screen and (max-width: 991px) {
  .project-detalis__title {
    margin-bottom: 22px;
  }
}

.project-detalis__items {
  font-weight: 400;
  font-size: 14px;
  display: grid;
  grid-gap: 74px 18px;
  grid-template-columns: 1fr 2.8fr 1fr;
}

@media screen and (max-width: 991px) {
  .project-detalis__items {
    grid-template-columns: 1fr;
    grid-gap: 45px;
  }
}

@media screen and (max-width: 991px) {
  .project-detalis__item:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .project-detalis__item:last-child {
    display: grid;
    grid-gap: 25px 25px;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-detalis__item:last-child .prblock {
    height: 55px;
    margin: 0;
  }
}

.project-detalis__image {
  width: 200px;
  height: 200px;
  background: #003d98;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  transition: 300ms;
  margin-bottom: 10px;
}

.project-detalis__image span {
  font-weight: 400;
  font-size: 14px;
  margin-top: 12px;
  position: relative;
  transition: 300ms;
  cursor: pointer;
}

.project-detalis__image span:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #fff;
  transition: 300ms;
}

.project-detalis__image span:hover {
  color: #5cabf0;
}

.project-detalis__image span:hover:before {
  background: transparent;
}

@media screen and (max-width: 991px) {
  .project-detalis__image {
    margin: 0 20px 0 0;
    width: 149px;
    height: 149px;
    font-size: 16px;
    flex-shrink: 0;
  }
}

.project-detalis__bottom {
  display: flex;
  align-items: center;
}

.project-detalis__bottom img {
  display: flex;
  align-self: start;
  margin-right: 22px;
}

.project-detalis__logo {
  display: flex;
  flex-direction: column;
}

.project-detalis__logo span {
  font-weight: 400;
  font-size: 14px;
  margin-top: 2px;
  position: relative;
  transition: 300ms;
  color: #003d98;
  cursor: pointer;
}

.project-detalis__logo span:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #003d98;
  transition: 300ms;
}

.project-detalis__logo span:hover:before {
  background: transparent;
}

.project-detalis__contain {
  margin-bottom: 18px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .project-detalis__contain {
    flex-direction: column;
    margin-bottom: 25px;
  }
}

.project-detalis__name {
  width: 100%;
  margin-right: 18px;
}

@media screen and (max-width: 991px) {
  .project-detalis__name {
    margin: 0px 0px 25px 0px;
  }
}

.project-detalis__ticker {
  width: 294px;
}

@media screen and (max-width: 991px) {
  .project-detalis__ticker {
    width: 100%;
  }
}

.project-detalis__adres {
  margin-bottom: 18px;
}

@media screen and (max-width: 991px) {
  .project-detalis__adres {
    margin-bottom: 25px;
  }
}

.project-detalis__stage {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.project-detalis input::-moz-placeholder {
  display: none;
}

.project-detalis input::-ms-input-placeholder {
  display: none;
}

.project-detalis input::placeholder {
  display: none;
}

.project-detalis__description {
  min-height: 127px;
  display: flex;
  align-items: start;
  font-weight: 400;
  font-size: 14px;
  resize: none;
}

.project-detalis__description.mobi {
  display: none;
}

@media screen and (max-width: 991px) {
  .project-detalis__description.pc {
    display: none;
  }
  .project-detalis__description.mobi {
    display: block;
  }
}

.project-detalis__sale {
  margin-bottom: 18px;
}

@media screen and (max-width: 991px) {
  .project-detalis__sale {
    margin-bottom: 25px;
  }
}

.project-detalis__price {
  margin-bottom: 18px;
}

@media screen and (max-width: 991px) {
  .project-detalis__price {
    margin-bottom: 25px;
  }
}

.project-detalis__gaal {
  background: #003d98;
  cursor: pointer;
}

.public-pages {
  margin-bottom: 51px;
}

@media screen and (max-width: 991px) {
  .public-pages {
    margin-bottom: 40px;
  }
}

.public-pages__inner {
  background: #101317;
  border-radius: 15px;
  padding: 37px 54px 53px 45px;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .public-pages__inner {
    padding: 30px;
  }
}

.public-pages__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 35px;
}

@media screen and (max-width: 991px) {
  .public-pages__title {
    margin-bottom: 22px;
  }
}

.public-pages__page {
  margin-bottom: 27px;
}

.public-pages__items {
  display: grid;
  grid-gap: 11px;
}

@media screen and (max-width: 991px) {
  .public-pages__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }
}

.public-pages__item {
  display: flex;
  align-items: center;
  padding: 11px 13px;
  background: #1a1f24;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.public-pages__item input {
  background: #1a1f24;
}

.public-pages__img {
  margin-right: 25px;
}

.public-pages__img img {
  display: flex;
  align-self: start;
}

.wait-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.wait-popup__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-filter: drop-shadow(4px 4px 50px rgba(0, 87, 255, 0.1));
  filter: drop-shadow(4px 4px 50px rgba(0, 87, 255, 0.1));
  background: #101317;
  border-radius: 15px;
  max-width: 700px;
  padding: 42px 50px 42px 0;
}

.wait-popup__image {
  flex-shrink: 0;
}

.wait-popup__image img {
  display: flex;
  align-items: start;
}

.wait-popup__content {
  max-width: 370px;
}

.wait-popup__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 27px;
}

.wait-popup__text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
}

.wait-popup__button {
  width: 163px;
  height: 55px;
}
